<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/statics/css/semantic.min.css">
  <link rel="stylesheet" href="/statics/css/icon.min.css">
  <link rel="stylesheet" href="/statics/css/loaderskit.css">
  <link rel="stylesheet" href="/statics/css/index.css">

  <title>问答demo</title>
</head>

<body>
  <div class="ui container" id="content">
    <!-- 聊天内容 -->
    <div class="b-body">
      <div class="rotWord">
        <div class="time" style="text-align: center;">
          <strong style="color: #aeacb3;">{{.time}}</strong>

        </div>
        <br>
        <span></span>
		<div class="rotWord_P">您好，您可以问我与xxxx相关的问题，或者说<a id="judge" href="#">病情自测</a>进行自我判断。
        </div>
      </div>


      <div class="rotWord">
        <br>
        <span></span>
        <div class="rotWord_P" >
          您还可以这样问我：
          <br>
		  {{ range .questions }}
          <div class="ui blue segment recommand">
			  {{.}}
          </div>
			{{ end }}
        </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="ui vertical footer" id="footer">

    <div class="info">
      <strong style="color: gray;">xxxxxxxxxx&copy;</strong>
      <a href="javascript:void(0);" onclick="$('#mianze').modal('show');"
        style="text-decoration: underline;color: #3b83c0">免责声明</a>
      <!-- 版权分割线 -->
    </div>


    <div class="ui container" id="footer-container">

      <div class="ui medium left icon input" id="f-input">
        <input type="text" placeholder="请输入问题" id="f-left">
        <i class="question medium icon" style="color: #3b83c0;" href="javascript:void(0);" id="help-icon"
          data-variation="huge"></i>

      </div>
      <div class="ui custom popup">
        <div class="header" style="color: #3b83c0; text-align: center;">
          示例问题
        </div>
        <div class="ui divider"></div>
        <div class="content" id="example_content">
          <!-- 这里读取js中数据 -->
        </div>
      </div>
      <!-- <div class="ui custom popup">
        示例问题
      </div> -->
      <div class="ui blue medium button" id="btn">发送</div>
    </div>
  </div>
</body>

<!-- 免责声明 -->
<div class="ui modal" id="mianze">
  <div class="header" style="color:#3b83c0;">
    免责声明
  </div>
  <div class="content">
    <h5>请在同意以下声明后使用本系统。</h5>
    <p>
	xxxxxxxxxx
    </p>
  </div>
  <div class="actions">
    <div class="ui blue button">
      同意
    </div>
  </div>
</div>

<!-- 示例问题 -->
<div class="ui modal" id="example">
  <i class="close icon"></i>
  <div class="header" style="color: #3b83c0;">
    示例问题
  </div>
  <div class="content" id="example_content">
    <!-- 这里读取js中数据 -->
  </div>
  <div class="actions">
    <div class="ui blue button">
      关闭
    </div>
  </div>

</div>

<script src="/statics/js/jquery.min.js"></script>
<script src="/statics/js/semantic.min.js"></script>
<script src="/statics/js/index.js"></script>

</html>
